streamlit
agno
groq
python-dotenv
pandas
numpy
scikit-learn
xgboost
lightgbm
catboost
imbalanced-learn
nltk
spacy
transformers
sentencepiece
torch
torchvision
tensorflow
keras
matplotlib
plotly
joblib
requests
fastapi
uvicorn
sqlalchemy
pymysql
mysql-connector-python